/******** ELEMENT SELECTORS ********/
body 
{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    background-color: #0f1216; 
    color: #00afb9; 
    font-size: 16px;
}

button:hover
{
    cursor: pointer;
}

/******** CLASS SELECTORS ********/

/* Top Navigation Bar */
.navBar
{
    width: 80%;
    height: 10%;
    border: 2px dashed #6ab8d7;
    margin: 20px 0 20px 0;
}

/* Area that holds all widgets */
.outerContainer 
{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px dashed #6ab8d7;
}

/* Your Tasks Section */
.taskSection
{
    border: 2px dashed #6ab8d7;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.widgetTitleArea
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.5em; 
}

.widgetTitle
{
    text-align: center;
    flex: 1;
    font-size: 2em; 
}

/* Focus Timer Section */
.timerSection
{
    border: 2px dashed #6ab8d7;
    width: 100%;
}