body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #101528; */
}

.outerContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 2px dashed #6ab8d7;
}