html{
    font-size: 16px;
}

body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9B59C;
}

.taskContainer
{
    background-color: #F9F8F6;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskSection
{
    border: 0.1em solid red; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.submitTask
{
    margin: 0 0 1em 0;
}

.taskList
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1.5em 0 0 0;
}

.task
{
    display: flex;
    justify-content: space-between;
}

.completed
{
    text-decoration: line-through;
}

.taskRightSide
{
    display: flex;
    gap: 0.5em;
}

.taskLeftSide
{
    display: flex;
    gap: 0.5em;
}

.errorMsg
{
    display: none;
}