html{
    font-size: 16px;
}

body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C2C55;
}

.taskContainer
{
    background-color: #EDEDCE;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskSection
{
    border: 0.1em solid red; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitTask
{
    margin: 0 0 1em 0;
}

.taskList
{
    display: flex;
    flex-direction: column;
}